{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="flex min-h-screen w-full items-center justify-center px-4">
    <twig:Card class="w-full max-w-sm">
        <twig:Card:Header>
            <twig:Card:Title>Login to your account</twig:Card:Title>
            <twig:Card:Description>
                Enter your email below to login to your account
            </twig:Card:Description>
        </twig:Card:Header>
        <form method="post">
            <twig:Card:Content>
                {% if error %}
                    <twig:Alert variant="destructive">
                        <twig:ux:icon name="tabler:alert-circle" class="h-4 w-4" />
                        <twig:Alert:Title>{{ error.messageKey|trans(error.messageData, 'security') }}</twig:Alert:Title>
                    </twig:Alert>
                {% endif %}

                {% if app.user %}
                    <twig:Alert>
                        <twig:ux:icon name="tabler:circle-check" class="h-4 w-4" />
                        <twig:Alert:Title>You are logged in as {{ app.user.userIdentifier }}</twig:Alert:Title>
                        <twig:Alert:Description>
                            <a href="{{ logout_path() }}">Logout</a>
                        </twig:Alert:Description>
                    </twig:Alert>
                {% endif %}

                <div class="flex flex-col gap-6">
                    <div class="grid gap-2">
                        <twig:Label for="username">Email</twig:Label>
                        <twig:Input
                            id="username"
                            type="email"
                            value="{{ last_username }}" name="_username" autocomplete="email"
                            placeholder="m@example.com"
                            required autofocus
                        />
                    </div>

                    <div class="grid gap-2">
                        <div class="flex items-center">
                            <twig:Label for="password">Password</twig:Label>
                            <a
                                href="#"
                                class="ml-auto inline-block text-sm underline-offset-4 hover:underline"
                            >
                                Forgot your password?
                            </a>
                        </div>
                        <twig:Input type="password" name="_password" id="password" autocomplete="current-password" required />
                    </div>

                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                </div>
            </twig:Card:Content>
            <twig:Card:Footer class="flex-col gap-2">
                    <twig:Button type="submit" class="w-full">
                        Login
                    </twig:Button>
            </twig:Card:Footer>
        </form>
    </twig:Card>
    </div>
{% endblock %}
